$primary-1: #85bfaf;
$primary-2: #5f9788;
$primary-3: #3a7264;
$primary-4: #124e41;
$primary-5: #002c21;
$primary-6: #e8f3f1;

$secondary-1: #af9754;
$secondary-2: #8c7735;
$secondary-3: #6a5817;
$secondary-4: #4a3b00;
$secondary-5: #301f00;
$secondary-6: #f0deb4;

$neutral-1: #fff; 
$neutral-2: #e8f3f1; 
$neutral-3: #b3bebc; 
$neutral-4: #818b89; 
$neutral-5: #525b5a; 
$neutral-6: #27302e;

