<section class="bg bg--secondary bg--footer-green flex dir-column justify-center align-center gap-1">
    <lottie-player class="staggerFromTopAnimation" src="https://assets4.lottiefiles.com/packages/lf20_mppo5fur.json"
        background="transparent" speed="1" style="width: 150px; height: 150px;" autoplay loop></lottie-player>

    <div class="wr-sm">
        <h2 class="text--center mb-xs ">Proficiat, je bent zwanger!</h2>
        <p class="text--center">Zwanger en klaar om alles voor te bereiden, zo krijg je na de geboorte meer rust en
            controle</p>
    </div>

    <div class="wr-sm mb-md">
        {{> button label="Registreer" type="primary" href="/register-1" animation=""}}
        {{> button label="Inloggen" type="secondary" href="/login" animation=""}}
    </div>
</section>