<section class="bg bg--primary bg--footer-white flex dir-column align-center justify-center ">
    {{> animatedLogo dark="visible" animation="staggerFromBottomAnimation" }}
    <h3 class="text--center text--upper mb-sm staggerFromBottomAnimation">Happy mom | Happy Baby</h3>
    <div class="text--center text--white mb-xs">
        <p class="staggerFromBottomAnimation">Ga je binnenkort bevallen?<br />Hoe ga je de bezoeken regelen?<br />Wil je
            genieten van die
            eerste maanden?</p>
        <p class="staggerFromBottomAnimation">Baby Planner, de oplossing<br />voor meer rust in de kraamperiode</p>
    </div>
    {{>button label="Ga verder" href="/authentication" type="tertiary" animation="staggerFromBottomAnimation"}}
</section>