{{#> validate title="Importeren gelukt" text="Nog aan te vullen"}}
<div class="flex justify-center align-center dir-column">
    {{> button label="Maak je eerste groep" href="/group-name" type="primary"}}
    {{> link label="Overslaan" href="/" type="secondary"}}
</div>
{{/validate}}