{{#> validate title="Je account is aangemaakt" text="Verdeel jouw contacten in groepen zo krijg jij meer controle over toekomstige bezoekjes!"}}
<div class="flex justify-center align-center dir-column">
    {{>button label="Maak een groep" href="/import-contacts" type="primary"}}
    {{>link label="Overslaan" href="/" type="secondary"}}
</div>
{{/validate}}