{{#> validate title="De groep collega's is aangemaakt" text="Good job!"}}
<div class="flex justify-center align-center dir-column">
    {{> button label="Ga naar home screen" href="/" type="primary"}}
    {{> button label="Maak nog een groep" href="/group-name" type="secondary"}}
</div>
{{/validate}}