<div class="contact {{selected}}">
    <div class="contact__content wr-lg">
        <img src="/img/avatar.jpg" alt="" class="contact__avatar">
        <span class="contact__name">{{firstname}} {{lastname}}</span>
        <label class="contact__select active">
            <input class="contact__checkbox" type="checkbox" />
            <span class="contact__text">
                <span class="contact__check">
                    <i class="fa fa-check icon"></i>
                </span>
            </span>
        </label>
    </div>
    <div class="contact__footer"></div>
</div>