<div class="form__switch flex justify-between mb-sm" action=''>
    <label class='form__label--secondary'>{{name}}</label>
    <input class='switch' type='checkbox' id="{{nameInput}}" name="{{nameInput}}" value="{{nameInput}}"/>
</div>