<div class='modal {{display}} scaleFromNullAnimation'>
  <section class='modal__container'>
    <div class='modal__content'>
      <svg class='modal__close-btn' xmlns='http://www.w3.org/2000/svg' width='215.75' height='215.748' viewBox='0 0 215.75 215.748' > <g id='Group_4' data-name='Group 4' transform='translate(-2168.597 -885)' > <path id='Path_8' data-name='Path 8' d='M247.05,177.05a16.8,16.8,0,0,1,23.758,0L350,256.245l79.2-79.2a16.8,16.8,0,0,1,23.758,23.758l-79.2,79.2,79.2,79.2A16.8,16.8,0,0,1,429.2,382.956l-79.2-79.2-79.2,79.2A16.8,16.8,0,0,1,247.05,359.2l79.2-79.2-79.2-79.2a16.8,16.8,0,0,1,0-23.758Z' transform='translate(1926.469 712.872)' ></path> </g> </svg> 
      <h2 class='modal__title mb-sm'>{{modalTitle}}</h2>
        {{> @partial-block }}
    </div>
  </section>
</div>