<section class='bg bg--secondary bg--footer-white flex flex dir-column justify-center text--center'>
    <lottie-player class="validation__check" src="https://assets3.lottiefiles.com/packages/lf20_nhiha1gb.json"
        background="transparent" speed="1" style="width: 175px; height: 175px;" autoplay></lottie-player>
    <h1 class='mb-sm wr-md'>{{title}}</h1>
    <p class="wr-xs mb-md">{{text}}</p>
    {{> @partial-block }}
</section>